@model  iRoads.DigitalArchive.Razor.Models.Email.ResetPassword
<!DOCTYPE html>
<html>
<head>
    @{
        string today = DateTime.Now.ToString("dd/MM/yyyy");
    }
</head>
<body dir="@Model.Dir">
    <div id="&lt;ImageLogo&gt;"></div>
    <div style="text-align: right;">
        <h2><span style="font-weight: bold;">@Model.Title</span></h2>
        <h4 style="text-align: right;">תאריך:<label>@today</label></h4>
        לכבוד,
        <br><label>@Model.User.FullName</label>
        <br><br>

        סיסמתך הזמנית למערכת @Model.AppName היא: <div dir="LTR" style="text-align: right;">
            <label>@Model.NewPassword</label>
        </div>
        <br>בכניסתך הבאה לאתר תתבקש לשנות סיסמה זו לסיסמה קבועה<br><br>

        בברכה,<br>
        @Model.AppName<br><br>

        * אין להשיב לדוא"ל זה.<br>
        ** מכתב זה מובא בלשון יחיד מטעמי נוחות, אך מכוון לכל נמען או נמענים באשר
        הם.<br>
    </div>
</body>
</html>